* {
  --darkblue: #1d3557;
  --lightblue: #45789d;
  --taupe: #f1faee;
}

button {
  border: none;
}

.App {
    margin-top: 60px;
}

h1 {
    background-color: green;
    color: var(--taupe);
    /* position: relative; */
    /* z-index: 100; */
}

.logo {
  width: 30px;
  margin-right: 20px;
}

.login {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-bottom: solid;
  justify-content: center;
  background-color: var(--taupe);
  border-radius: 15px;
  margin-top: 10px;
  padding: 0 3px;
  width: 300px;
  height: 50px;
}

.login-heading {
  color: var(--darkblue);
  text-align: center;
}

.form-container {
  margin: auto;

  width: 70vw;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 7px 20px 0 rgba(190, 24, 24, 0.2);
  position: relative;
  border-radius: 10px;
}

.form-content-left {
  background-color: var(--lightblue);
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-content-right {
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  margin-top: 10px;
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 35px;
  width: 280px;
  border-radius: 10px;
  border: none;
  background: var(--taupe);
}

.form-input::placeholder {
  color: var(--darkblue);
  /* text-align: center; */
}

.form-input-btn {
  border: none;
  width: 300px;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  color: var(--darkblue);
  background: var(--lightblue);
}

.form-input-btn:hover {
  cursor: pointer;
  color: var(--darkblue);
  background: var(--taupe);
}
