@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: sans-serif;
  --darkblue: #1d3557;
  --lightblue: #45789d;
  --taupe: #e5e5e5;
}

h1 {
  font-family: Oswald, sans-serif;
}

body {
  background-color: var(--taupe);
  margin: 0;
  padding: 0;
}


button {
  border: var(--darkblue) solid 1px;
}

.App {
  display: flex;
  justify-content: center;
}

.dashboard img {
  border-radius: 50%;
}

/* connections page */
.search-bar {
  border: 1px solid var(--darkblue);
  height: 40px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
}

.connections {
  text-align: center;
}

/* landing page */
.Login-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background-color: var(--lightblue);
  border-radius: 1rem;
  min-width: 20rem;
}

.Login-msg button {
  width: 55%;
  background-color: var(--taupe);
}

.landing-page {
  display: flex;
  margin-top: 5rem;
}

.container {
  width: 800px;
  height: 100px;
  position: fixed;
  top: 10%;
  left: 30%;
  margin-top: -100px;
  margin-left: -100px;
}

.box {
  width: 500px;
  border-radius: 2px;
  margin: 0 auto auto 250px;
  padding: 0px 0px 2px 0px;
}

.name,
.lastName,
.phone,
.eMail,
.webSite {
  background: var(--taupe);
  /* border: #ccc 1px solid; */
  /* border-bottom: #ccc 2px solid; */
  padding: 8px;
  width: 250px;
  color: #aaaaaa;
  margin-top: 5px;
  font-size: 18px;
  border-radius: 4px;
}

.cardDiv {
  width: 41em;
  height: 22em;
  background-color: var(--darkblue);
  margin: 5% auto 0 auto;
  border-radius: 0.4em;
  border-top-right-radius: 0.37em;
  border-bottom-right-radius: 0.37em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  transition: box-shadow 200ms ease-in;
}

.cardDiv:before {
  content: "";
  background: var(--darkblue);

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
  background-size: 600% 600%;
  background-position: 30% 70%;
  width: 12em;
  height: 22em;
  display: block;
  position: absolute;
}

.card {
  padding: 1.6em 2em 2em 14em;
}

.cardName {
  color: var(--taupe);
  font-size: 2.2em;
  letter-spacing: 1px;
}

hr {
  height: 2px;
  background: var(--lightblue);
  border: none;
  margin: 1em 0;
  width: 85%;
}

.cardAddress,
.cardPhoneNumber,
.cardEmail,
.cardWebsite {
  margin: 1em 0;
  font-weight: 700;
  color: var(--taupe);
}

.cardWebsite a:link {
  color: var(--taupe);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
table,
th,
td {
  border: 3px solid var(--darkblue);
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
}

.card i {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--taupe);
}

.card p {
  display: flex;
  align-items: center;
}

/* these are buttons on dashboard */
.buttons {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5%;
  padding: 1rem;
  border: none;
  margin-top: 0.5em;
}

.buttons button {
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.buttons button i {
  font-size: 1.5rem;
}

/* dashboard edit css */
.card h1 {
  margin: 0;
}

.card input {
  height: 1rem;
  margin-left: 0.5rem;
}

.dash-edit-btns button {
  margin-right: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.dash-edit-btns i {
  font-size: 2rem;
  color: var(--darkblue);
}

.dash-edit-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
/* -------------- */

.QRCodeBack i {
  color: var(--darkblue);
  font-size: 1.5rem;
}

.QRCodeBack {
  border-radius: 2rem;
  cursor: pointer;
}

